.card {
  @include flex-column;
  justify-content: space-between;

  box-sizing: border-box;
  border-top: 1px solid #ededed;

  margin-bottom: 24px;

  min-height: 185px;
}

.card__wrapper {
  @include mobile-space;
  @include flex-row;
  justify-content: center;
  margin-bottom: 0;
}

.card__image-wrapper {
  min-height: 144px;
}

.card__table-wrapper {
  @include flex-column;
  justify-content: space-between;
  min-width: 140px;
}

.card__title {
  @include reset-space;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  max-width: 75px;

  margin-top: 21px;
}

.card__link {
  text-decoration: none;
  color: inherit;
}

.card__table {
  margin-bottom: 24px;
}

.card__button {
  @include mobile-space;
  max-height: 40px;
  font-size: 16px;
  line-height: 20px;

  margin-top: 0;

  padding-top: 9px;
  padding-bottom: 9px;
}

@media (min-width: $tablet-size) {
  .card {
    @include flex-column;
    justify-content: flex-end;
    background-image: linear-gradient(to top, $button-grey 78.36%, transparent 78.36%); /* 431px; */
    min-width: 324px;
    min-height: 550px;

    padding: 40px 0;

    border: none;
  }

  .card__title {
    @include tablet-text-font;
    text-align: center;
    align-self: center;

    max-width: 130px;

    margin-top: -2px;
    margin-bottom: 24px;
  }

  .card__wrapper {
    @include flex-column;
    justify-content: center;
    margin: 0;
    margin-bottom: 2px;
  }

  .card__table-wrapper {
    margin: 0 37px;
  }

  .card__image-wrapper {
    @include flex-column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

    margin-bottom: 36px;
  }

  .card__image-link {
    @include flex-column;
    justify-content: center;
    align-items: center;
  }

  .card__image {
    width: auto;
    height: auto;

    max-width: 130%;
  }

  .card__button {
    @include reset-space;
    height: auto;
    min-height: auto;

    margin: 0 37px;

    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-size) {
  .card {
    align-items: center;
  }

  .card__table-wrapper {
    width: 169px;
  }

  .card__image {
    max-width: 155%;
  }

  .card__button {
    width: 169px;
  }
}
