.developers {
  @include mobile-space;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
  margin-top: -8px;
}

.developers__link {
  @include arial-text;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;

  margin-right: -6px;
  margin-top: -4px;

  &:active {
    opacity: 0.4;
  }

  &--text {
    margin-top: -10px;
  }
}

.developers__image {
  fill: $footer-grey;
}

.developers__link:hover .developers__image,
.developers__link:focus .developers__image {
  fill: $green;
}

@media (min-width: $tablet-size) {
  .developers {
    margin-right: 0;
  }

  .developers__link {
    &--text {
      margin-top: 0;
      margin-right: 15px;
    }
  }

  .developers__image {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-size) {
  .developers {
    @include empty-rule;
    margin-top: 0;
  }
}
