.extra {
  @include empty-rule;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: $green;
    z-index: -1;
  }
}

.extra__title {
  @include reset-space;
  font-weight: 400;

  &--main {
    width: 248px;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 34px;
    padding-left: 19px;

    background-color: $white;
  }

  &--item {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    margin-left: 1px;
    margin-bottom: 13px;
  }
}

.extra__list {
  @include clear-list;
  @include mobile-space;
  @include flex-column;
  justify-content: space-around;
  margin-bottom: 39px;

  &:first-child {
    border-top: 1px solid $light-grey;
  }
}

.extra__item {
  @include flex-column;
  justify-content: space-between;

  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-top: none;
  border-left: none;
  border-right: none;

  padding-top: 14px;
  padding-bottom: 17px;
}

.extra__item-wrapper {
  @include flex-column;
}

.extra__table {
  @include flex-row;
  margin-bottom: 14px;
}

.extra__table-row {
  @include flex-row;
  justify-content: space-between;
  width: 100%;
}

.extra__table-cell {
  @include arial-text;
  font-size: 14px;
  line-height: 14px;
}

.extra__button {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-size) {
  .extra {
    margin: 0;
    margin-top: -102px;

    &::after {
      top: 22px;
    }
  }

  .extra__wrapper {
    margin: 0 10px;
  }

  .extra__title {
    font-size: 36px;
    line-height: 36px;

    &--main {
      min-width: 374px;
      margin-left: 28px;
      margin-bottom: 80px;
      padding-left: 39px;

      background-color: $white;
    }

    &--item {
      @include tablet-text-font;
      margin-top: -1px;
      margin-bottom: 19px;
    }
  }

  .extra__item {
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    padding: 27px 37px;
  }

  .extra__item-wrapper {
    @include flex-row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8px;
  }

  .extra__table {
    margin-left: auto;
  }

  .extra__table-row {
    @include empty-rule;
  }

  .extra__table-cell {
    min-width: 45px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    vertical-align: middle;

    margin-left: 50px;
  }

  .extra__button {
    padding: 10px 0;
    min-height: auto;
    margin-top: -2px;
  }
}

@media (min-width: $desktop-size) {
  .extra {
    @include empty-rule;
  }

  .extra__title {
    &--main {
      margin-right: auto;
      margin-left: 70px;
      margin-bottom: 80px;
      padding-left: 39px;
    }

    &--item {
      margin: 0;
      margin-top: 6px;
      margin-left: 1px;
      font-size: 20px;
    }
  }

  .extra__wrapper {
    @include desktop-container;
    @include flex-row;
    justify-content: space-between;

    padding: 0;
  }

  .extra__list {
    margin: 0;
  }

  .extra__item {
    @include flex-row;
    justify-content: space-between;
    align-items: center;

    width: 895px;
    padding: 0;

    border: none;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid $light-grey;
    }
  }

  .extra__item-wrapper {
    @include flex-row;
    justify-content: space-between;
    width: 610px;
  }

  .extra__table {
    width: 55%;
    margin-bottom: 0;
    margin-left: auto;
  }

  .extra__table-row {
    margin-top: 16px;
  }

  .extra__table-cell {
    text-align: center;

    &--price {
      margin: 0;
    }
  }

  .extra__button {
    width: 245px;
  }
}
