.main-footer {
  @include flex-column;

  background-color: #f2f2f2;
}

.main-footer__map {
  @include empty-rule;
}

.main-footer__contacts {
  @include flex-column;
}

.main-footer__text-logo {
  @include reset-space;
  align-self: center;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 31px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__social {
  padding: 0 20px;
}

.main-footer__developers {
  padding: 0 20px;
}

@media (min-width: $tablet-size) {
  .main-footer {
    @include empty-rule;
  }

  .main-footer__contacts {
    @include flex-row;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
    padding-top: 30px;
    margin: 0 10px;
  }

  .main-footer__text-logo {
    margin-top: -3px;
    padding: 0;
  }

  .main-footer__social {
    margin-left: 40px;
    margin-top: -5px;
    padding: 0;
  }

  .main-footer__developers {
    padding: 0;
  }
}

@media (min-width: $desktop-size) {
  .main-footer {
    @include empty-rule;
  }

  .main-footer__contacts {
    @include desktop-container;
    margin-top: 27px;
  }

  .main-footer__text-logo {
    margin-top: -4px;
  }

  .main-footer__social {
    margin-top: -1px;
  }

  .main-footer__developers {
    margin-top: 0;
  }
}
