$green: #68b738;
$btn-actions-green: #5eaa2f;
$white: #ffffff;
$black: #111111;
$shadow: #000000;
$text-black: #444444;
$deep-black: #222222;
$grey: #e6e6e6;
$radio-grey: #cecece;
$light-grey: #cdcdcd;
$button-grey: #f2f2f2;
$button-hover-grey: #ebebeb;
$border-grey: #ededed;
$symbol-grey: #d3d3d3;
$slider-btn-grey: #bebebe;
$slider-btn-hover-darkgrey: #989898;
$slider-lightgrey: #f2f2f2;
$slider-darkgrey: #eaeaea;
$error-red: #ff8282;
$checkbox-focus: #bababa;
$map-bg-color: #f2f1ee;
$footer-grey: #666666;
$social-border: #d9d9d9;

$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1200px;

$desktop-width: 1220px;
